.BlogPosts, .BlogPost {
    blockquote {
        background-color: #e6ebfb;
        color: #12283a;
        margin-bottom: 2rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-left: 4px solid #4e65e1;
        a {
            font-weight: 600;
            text-decoration: underline;
            &:hover {
                color: $blue;
            }
        }
    }
    a {
        &.paragraph-link, &.button, &.back-button {
            &.bg-round {
                background-color: rgba($blue, 0.1);
                padding: 0 0.6rem;
                border-radius: 25px;
                width: auto;
                svg {
                    fill: $black;
                }
                &:hover {
                    svg {
                        fill: $blue;
                    }
                }
            }
        }
    }
    .more-link {
        display: none;
    }
    .wh-blog-img {
        width: 18rem;
        @include tablet {
            width: 100%;
            height: 18rem !important;
        }
    }
    .blog-post {
        p {
            margin-bottom: 2rem;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .blog-post-image {
        width: 60px;
        max-width: 100%;
        max-height: 60px;
        margin-right: 1rem;
        padding: 0px;
    }
    .col-3 {
        flex-basis: 10%;
        max-width: 10%;
        @include tablet {
            flex-basis: 10%;
            max-width: 10%;
        }
    }
    .col-9 {
        flex-basis: 90%;
        max-width: 90%;
        @include tablet {
            flex-basis: 90%;
            max-width: 90%;
        }
    }
}
.BlogPosts {
    .blog-post {
        background-color: #fff;
        transition: all 0.4s;
        transform: translate3d(0, 0, 0);
        &:hover {
            transform: translateY(-0.25rem);
        }
    }
}
.BlogPost {
    .flex-row {
        flex-direction: row;
    }
}
