* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body {
    background: $white;
    font-family: $sourceSans;
    overflow-x: hidden;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    &:after {
        display: none;
        content:
        $home
        $aboutMe
    }
}
input, textarea, select {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #efefef;
}
a {
    color: $black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        color: inherit;
    }
    &.paragraph-link, &.button, &.back-button {
        @include font($sourceSans, 400);
        @include font-size(14px);
        letter-spacing: .02em;
        transition: color 0.2s;
        border-radius: 2px;
        color: $black;
        &.blue {
            color: $blue;
            svg {
                fill: $blue;
                transition: transform 0.2s;
            }
        }
        &:hover {
            color: $blue;
            svg {
                fill: $blue;
            }
        }
        svg {
            margin-bottom: 2px;
            margin-left: 8px;
            fill: $black;
            @include tablet {
                margin-bottom: 0;
            }
        }
    }
    &.paragraph-link {
        line-height: inherit;
        font-size: inherit;
        &.bg-round {
            padding-bottom: 2px;
            svg {
                fill: $white;
            }
        }
        &.blue {
            color: $blue;
            svg {
                fill: $blue;
            }
        }
    }
    &.button {
        display: inline-block;
        position: relative;
        line-height: inherit;
        font-weight: 600;
        svg {
            margin-bottom: 1px;
        }
    }
    &.back-button {
        display: inline-block;
        position: relative;
        font-weight: 600;
        &.blue {
            color: $blue;
            svg {
                fill: $blue;
            }
        }
        svg {
            margin-bottom: 1px;
            margin-left: 0;
            margin-right: 8px;
        }
    }
}
a, div, span {
    &.bg-round {
        background-color: rgba(0,0,140,0.15);
        padding: 0 0.6rem;
        border-radius: 25px;
        line-height: 1.5rem;
        width: auto !important;
        @include tablet {
            line-height: 1.2rem;
        }
        &.light {
            background-color: rgba(#B89AF3, 0.15);
            padding-bottom: 1px;
            color: $white;
            &:hover {
                color: $white;
            }
            svg {
                fill: $white;
            }
        }
    }
    .cta-pill {
        padding: 0 0.5rem;
        margin-right: 0.25rem;
        @include font-size(13px);
        line-height: inherit;
        vertical-align: middle;
        background-color: rgba(#A0AFF2, 0.35);
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 12px;
        text-shadow: none;
        color: $white;
    }
}
.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 1rem;
    &.width-sm {
        max-width: 980px;
    }
    @include phablet {
        min-width: 100%;
        max-width: 100%;
        padding: 0 4rem;
    }
    @include phone {
        min-width: 100%;
        max-width: 100%;
    }
}
.flex-container {
    width: auto;
    padding: 0 1rem;
    @include tablet {
        width: 100%;
    }
}
.animated-page-wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    @include tablet {
        top: 50px;
    }
}
p, .label, .md-text-size, .lrg-text-size {
    @include font($sourceSans, 400);
    letter-spacing: .02em;
    color: $black;
}
p {
    @include font-size(19px);
    @include tablet {
        @include font-size(15px);
    }
    @include mobile-xs {
        @include font-size(12px);
    }
}
.label {
    margin-right: .6rem;
    font-weight: 600;
}
.md-text-size, .label {
    @include font-size(14px);
    @include mobile-xs {
        @include font-size(12px);
    }
}
.lrg-text-size {
    @include font-size(21px);
    @include tablet {
        @include font-size(17px);
    }
    @include mobile-xs {
        @include font-size(15px);
    }
}
.faded {
    opacity: .7;
}
strong, .bold {
    font-weight: 600;
}
mark {
    background-color: black;
    color: white;
}
img {
    &.responsive-img {
        max-width: 100%;
        height: auto;
    }
}
.loading-container {
    margin-top: 2rem;
    margin-bottom: 100vh;
    .loading {
        img {
            max-width: 100%;
            height: 30px;
            margin: auto;
        }
        .text {
            position: absolute;
            left: 999%;
            @include font($sourceSans, 400);
            @include font-size(15px);
            color: $black;
        }
    }
}
.project-media {
    position: relative;
    margin-bottom: 2.5rem;
    border: 2px solid $intro;
    border-radius: 5px;
    overflow: hidden;
    &:last-of-type {
        margin-bottom: 0;
    }
    img {
        display: flex;
        max-width: 100%;
        height: auto;
        user-select: none;
    }
    video {
        display: flex;
        width: 100%;
        height: auto;
        pointer-events: none;
        user-select: none;
    }
}
.Home, .About, .Error {
    .footer {
        &.bg-transparent {
            p, .label, .md-text-size, .lrg-text-size {
                color: $white;
            }
        }
    }
}
.slant-top, .slant-top-reverse, .slant-top-bottom {
    position: relative;
    z-index: 1;
}

.slant-top-bottom::after {
    bottom: 0;
    transform: skewY(-2deg);
    transform-origin: 100% 100%;
}
.slant-top-bottom::after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slant-top::before {
    top: 0;
    transform: skewY(2deg);
    transform-origin: 100% 100%;
}
.slant-top::before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slant-top-reverse::before {
    top: 0;
    transform: skewY(-2deg);
    transform-origin: 0 0;
}
.slant-top-reverse::before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.capabilities {
    .grid {
        display: -ms-grid;
        display: grid;
        grid-gap: 1rem;
        -ms-grid-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        img {
            height: auto;
            padding: 0 35%;
            filter: saturate(60%);
            transition: all 0.2s ease;
            &:hover {
                filter: saturate(100%);
            }
            @include tablet {
                padding: 0 25%;
                transition: none;
                filter: saturate(100%);
            }
            @include phone {
                padding: 0 15%;
            }
        }
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
