/* navigation */
.Home, .About, .Error {
    .navigation-bar {
        background-color: transparent;
        border-top: 2px solid transparent;
        border-bottom: 1px solid transparent;
        &.scrolled {
            background-color: rgba($blue, 0.96);
        }
        li.navigation-section {
            .logo {
                svg {
                    fill: $white !important;
                }
            }
            a, div, span {
                color: $intro;
            }
            h1 {
                color: $white;
            }
        }
    }
}
.Blog {
    .navigation-bar {
        background-color: transparent;
        &.scrolled {
            background-color: rgba($white, 0.96);
        }
        li.navigation-section {
            .logo {
                svg {
                    fill: $black !important;
                }
            }
            a, div, span {
                color: $black;
            }
            h1 {
                color: $black;
            }
        }
    }
}
.navigation-bar {
    left: 0;
    top: 0;
    right: 0;
    height: 64px;
    line-height: inherit;
    background-color: rgba($white, 0.96);
    will-change: scroll-position, transform;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    @include tablet {
        height: 50px;
        line-height: inherit;
    }
    &.hide {
        -webkit-transform: translateY(-100%) translateZ(0);
        transform: translateY(-100%) translateZ(0);
    }
    ul.navigation {
        position: relative;
        a, div {
            &.navigation-link {
                display: inline-flex;
                text-decoration: none;
                @include font($sourceSans, 400);
                @include font-size(18px);
                height: inherit;
                line-height: inherit;
                margin: 0;
                padding: 0 20px;
                &:last-of-type {
                    padding-right: 0;
                }
                &.has-dropdown {
                    cursor: default;
                }
            }
        }
        li.navigation-section {
            height: 64px;
            line-height: 64px;
            @include font($sourceSans, 400);
            @include tablet {
                height: 50px;
                line-height: 50px;
            }
            .logo {
                .name-logo {
                    @include font-size(19px);
                    @include font($fira, 500);
                    letter-spacing: 0.02em;
                    margin: 0;
                    top: 0.75rem;
                    line-height: initial;
                    @include tablet {
                        @include font-size(16px);
                        top: 0.5rem !important;
                    }
                    &.animate {
                        &:after {
                            content:"_";
                            font-weight: 500;
                            opacity: 0;
                            margin-left: 0.5rem;
                            animation: nav-cursor 1.2s infinite;
                        }
                        @keyframes nav-cursor {
                            0% {
                                opacity: 0;
                            }
                            40% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 1;
                            }
                            90% {
                                opacity: 1;
                            }
                            100% {
                                opacity: 0;
                            }
                        }
                    }
                }
                svg {
                    max-width: 100%;
                    height: 20px;
                    fill: $black;
                    @include tablet {
                        height: 17px;
                    }
                }
                img {
                    max-width: 100%;
                    height: 20px;
                    margin-right: 8px;
                }
            }
            .tagline {
                @include font($sourceSans, 600);
                @include font-size(12px);
                letter-spacing: 0.02em;
                bottom: 0.75rem;
                line-height: initial;
                opacity: 0.85;
                &.f-sm {
                    @include font-size(10px);
                    @include tablet {
                        @include font-size(9px);
                    }
                }
                @include tablet {
                    @include font-size(10px);
                    bottom: 0.5rem !important;
                }
            }
            &.primary {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
